@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Alegreya|Playfair+Display');
/*------------------------------------------------------------------
  [Table of contents]

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
  2. Common Selectors
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  /*width: 100%;*/
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

/* ==========================================================================
   2. Common Selectors
   ========================================================================== */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  max-width: 1400px;
  width: 78.80%;
  margin: 0 auto;
}

ul li{
  display: inline-block;
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -ms-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

/*body { font-family: 'Lato', sans-serif; }*/
.uppercase { text-transform: uppercase; }
.lowercase { text-transform: lowercase; }
.capitalize { text-transform: capitalize; }
.first-letter::first-letter { text-transform: uppercase; }


@font-face {
    font-family: Scriptina;
    src: url('../vendor/webfonts/scriptina.ttf');
}


@font-face {
  font-family: ProximaNova;
  src: url('../vendor/webfonts/ProximaNovaRegular.ttf')
}
header {
  width: 100%;
  position: absolute;
  top:0;
  z-index: 5;
  background: rgba(0,0,0,0.5);
}

h1,
nav,
li,
ul,
.menu { 
  display: inline-block;
  vertical-align: top;
}

header a { color: #fff; }

h1 {
  padding: 12px 0 30px;
  font-size: 30px;/* Approximation due to font substitution */
  font-family: Scriptina;
  font-weight: 400;
  line-height: 24px;/* Approximation due to font substitution */
  text-align: left;
  letter-spacing: 3.5px;
}
 
nav { 
  padding: 26px 0 0 7.5%; 
  font-family: 'Alegreya', serif;
}

.hamburger,
.menu>a { display: none; }

.social-media { 
  padding-top: 25px;
  float: right; 
}

.nav-menu li { 
  font-size: 14px;
  padding-right: 32px;
}

.nav-menu li:not(:last-child):after {
  content: "~";
  padding-left: 32px;
  color: #fff;
  font-weight: bold;
}

.nav-menu li a:hover { color: #a98e80; }
.social-media li:not(:last-child) { padding-right: 22px; }
.social-media li a:hover { transform: scale(1.1); }

.banner {
  padding: 210px 0 180px;
  background: url('../images/hero.jpg');
  text-align: center;
  position: relative;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  right: 0;
  background: rgba(0,0,0,0.2);
  z-index: -2;
}

h2 {
  color:  #ffffff;
  font-family: 'Playfair Display', serif;
  font-size: 72px;
  font-weight: 700;
  letter-spacing: 2px;
  text-shadow: 0px 1px 0px #3d3029;
}

.dash-img {
  width: 13%;
  margin: 40px auto 50px;
}

.banner p {
  width: 45%;
  margin: 0 auto 56px;
  color:  #ffffff;
  font-family: ProximaNova;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  text-shadow: 0px 1px 0px #3d3029;
} 

.banner a{
  width: 16%;
  padding: 12px 0;
  border: 1px dashed #9e9c93;
  background-color:  rgba(86, 83, 76, 0.53);
  color:  #ffffff;
  font-family: 'Alegreya', serif;
  font-size: 13.8px;
  font-weight: 700;
  line-height: 24px;
}

.banner a:hover {
  background-color: #fff;  
  color: rgba(86, 83, 76, 0.53);
}

.border-images {
  width: 100%;
  position: absolute;
  /*top: 125px;*/
  bottom: -50px;
  z-index: 5;
}

.border-img {
  width: 100%;
  padding: 26px 0;
  background: url('../images/border (1).png');
  background-position: 50%;
  position: absolute;
  top: 17%;
  z-index: -1;
  transform: translateY(-7%);
}

.small-img{
  position: relative;
  top: -6px;
}

.art-of {
  padding: 80px 0;
  background: url('../images/bg(2).jpg') center/100% 100% no-repeat;
}

.art-content,
.tastes {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.art-content {
  margin-right: -5px;
  color: #56534c;
  text-align: center;
}

h3 {
  color: #56534c;
  font-family: 'Alegreya', serif;
  font-size: 48px;
  font-weight: 700;
}

.subheading {
  margin-bottom: 55px;
  display: inline-block;
  color: #a47d5e;
  font-family: 'Alegreya', serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.art-content p{
  width: 87%;
  margin: 0 auto;
  color:  #56534c;
  font-family: ProximaNova;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

h4 {
  margin: 1% 0;
  font-size: 24px;
  font-weight: 700;
  font-family: 'Alegreya', serif;
  text-transform: capitalize;
  line-height: 76px;
}

.chef li:not(:nth-child(2)) {
  border-top: 1px solid #d7d5ca;
  border-bottom: 1px solid #d7d5ca;
  margin-top: 30px;
  font-family: 'Alegreya', serif;
  font-size: 24px;
  line-height: 48px;
}

.chef p{
  width: 80%;
  margin: 0 auto;
  color: #a47d5e;
  font-size: 24px;
  font-family: "Scriptina", serif;
  font-weight: 400;
  line-height: 30px;
}


blockquote {
  width: 63%;
  margin: 0 auto;
}

blockquote img {
  display: block;
  font-family: 'Times New Roman', sans-serif;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: -1.5px;
}

blockquote + img { text-align: left; }

.chef p + img { 
  float: right; 
  transform: rotateX(180deg);
}
  
.tastes li{ width: calc(100% / 2 - 5px); }
.tastes li:not(:last-child) { margin-right: 3px; }
.tastes li img { width:100%; }

.tastes ul + p.taste-img  {
  /*background: url('../images/Vektor-Smartobjekt (7).png');*/
  padding: 20px;
  display: inline-block;
  color: #c9b176;
  font-family: 'Alegreya', serif;
  font-size: 30px;
  line-height: 36px;
}

.tastes {
   position: relative;
}

.tastes-box {
  width: 200px;
  height: 200px;
  display: inline-block;
  position: absolute;
  z-index: 2;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  text-align: center;
}

.tastes-box span {
  position: absolute;
  z-index: 4;
  top: 30%;
  left: 0;
  color:  #c9b176;
  font-family: 'Alegreya', serif;
  font-size: 30px;
  line-height: 36px
}

.tastes-box img { width: 100%; }


/* pan-cakes-wrap */


.stars img {
  width: 100%;
}

.breakfast h3 {
  color: #fff;
}

.pancakes-box {
  width: 56.63%;
  padding: 5.5% 50px 0 50px;
  position: absolute;
  left: 47%;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  background-image: url('../images/Vektor-Smartobjekt windmill.jpg');
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 45%;
  /*float: right;*/
  /*background: #fff;*/
}


.pancakes-box p{
  margin-bottom: 88px;
  color: #56534c;
  font-family: "ProximaNova";
  font-size: 14px;
  line-height: 24px;

}

.slider-parent { 
  position: relative;
  overflow: hidden;
}

.slider {
  width: calc(97% * 2);
    margin: 0 auto;
    display: inline-block;
    position: relative;
    text-align: center;
    transition: left 0.5s;
}

.slider li{ 
  width: calc(100%/ 6 - 29px);
} 

.slider li:not(:last-child) {   margin-right:22px;
 }


.slider-parent .left-arrow,
.slider-parent .right-arrow{
  width: 25px;
  height: 25px;
  padding: 2px 0 2px 5px;
  border: 2px solid #d8bba3;
  border-radius: 50%;
  color: #d8bba3;
}

.slider-parent .left-arrow{
  position: absolute;
  top:39%;
  left: 0;
  z-index: 5;
}

.slider-parent .right-arrow{
  position: absolute;
  top:39%;
  right: 0;
}

.ready {
  width: 160px;
  padding: 25px 0;
  position: absolute;
  top: -35px;
  right: -60px;
  background: url('../images/Vektor-Smartobjekt(2).jpg') center/100% 100% no-repeat;
  -webkit-box-shadow: 0px 0px 70px 1px rgba(210,203,196,1);
  -moz-box-shadow: 0px 0px 70px 1px rgba(210,203,196,1);
  box-shadow: 0px 0px 70px 1px rgba(210,203,196,1);
  font-family: 'Alegreya', serif;
  text-align: center;
  z-index: 5;
}

.type {
  display: block;
  color:  #a47d5e;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.number {
  display: block;
  color:  #dfc691;
  font-size: 92px;
  font-weight: 700;
  line-height: 85px;
}

.mins {
  color:  #979285;
  font-size: 18px;
  font-weight: 700;
}

.cakes-wrap {
  padding: 113px 0 88px;
  background: url('../images/placeholder.jpg') center/100% 100% no-repeat;
}

.cakes-wrap .wrapper { 
  width: 67.3%; 
  position: relative;
}


/*breakfast*/
.breakfast-section {
  padding: 67px 0;
  background: url('../images/placeholder(1).jpg');
  color: #fff;
}

.breakfast {
  width: 65.6%;
  margin-left: -5px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.morning-box {
  width: 34.5%;
  padding: 5px;
  background: url('../images/bg(1).png');
  display: inline-block;
  vertical-align: top;
  position: relative;
  z-index: 1;
}

.morning-box img{
  width: 100%;
}

.pages-content .est{
  padding-left: 19%;
  font-family: Alegreya;
  color:  #56534c;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}

.pages-content .est-yr{
  padding-right: 19%;
  font-family: Alegreya;
  color:  #56534c;
  font-weight: 700;
  line-height: 30px;
  font-size: 14px;
  float: right;
  color:  #56534c;
 }

.pages-content {
    padding: 32px 6%;
    border: 1px dashed  #9e9c93;
    text-align: center;
    /*box-shadow: 7px 0px 5px 0px rgba(0, 0, 0, 0.8);*/
} 

.pages-content h3 {
  font-size: 39px;
}

.pages-content p {
  padding-top: 40px;
  font-family: ProximaNova;
  color:  #56534c;
  font-size: 13px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
}

.pages-content a {
  border-width: 1px;
  border-color:  #9e9c93;
  border-style: solid;
  width: 188px;
  padding: 10px 0;
  margin-top: 10px;
  font-family: Alegreya;
  color:  #a47d5e;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}

.page-top { 
  position: absolute;
  top: 17px;
  right: -15px;
  z-index: -1;
  padding: 5px;
}

.page-bottom { 
  position: absolute;
  top: 17px;
  right: -25px;
  z-index: -2;
  padding: 5px;
}

.page-top .border {
  margin: 5px;
  border-right: 1px dashed  #9e9c93;
}

.border img{
  height: 420px;
}

.sandwitch h3{
  font-size: 48px;
}

.sandwitch {
  padding: 80px 0;
  background: #f4f2ea url("../images/Vektor-Smartobjekt (15).png") no-repeat top center;
  text-align: center;
}

.sandwitch-content {
  width: calc(23.82% - 5px);
  display: inline-block;
  vertical-align: top;
  margin-right: 9.5%;
}

.img-content {
  width: 87px;
  height: 87px;
  margin: 0 auto;
}

.recipe-box {
  width: calc(66.18% - 5px);
  padding-top: 35px;
  margin-top: 35px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.recipe { 
  border: 10px solid #fff; 
  box-shadow: 0px 0px 18px 0px rgba(223, 198, 145, 0.7);
}

.recipe img { width: 100%;} 

.sandwitch-content h4 { 
  color: #a47d5e;
  line-height: 46px; 
}

.sandwitch .subheading {
  display: block;
}

.sandwitch-content p {
  color: #56534c;
  font-size: 14px;
  line-height: 20px;
}

.sandwitch-content li { margin-bottom: 35px; }

.recipe-box ul {
  position: absolute;
  top: 15px;
  right: 0;
}

.recipe-box li:not(:last-child) {
  width: 163px;
  height: 163px;
  padding-top: 15px;
  background: rgba(255, 255, 255, 0.8);
  font-family: 'Alegreya', serif;
  text-align: center;
}

.recipe-box li {
  display: block;
}

.recipe-box li:not(:last-child) .number,
.recipe-box li:not(:last-child) .mins { color: #56534c; }

.recipe-box li .type { font-size: 16px; }
.recipe-box li .number { font-size: 58px; }
.recipe-box li .mins { font-size: 15px; }

.recipe-box .ready-in { 
  width: 163px;
  height: 163px;
  padding-top: 15px;
  background: url("../images/Vektor-Smartobjekt(2).jpg") center/100% 100% no-repeat;
  font-family: 'Alegreya', serif;
  text-align: center;
}

.recipe-link {
  padding: 12px 3%;
  border: 1px dashed #dfc691;
  display: inline-block;
  vertical-align: top;
  position: absolute;
  left: -2%;
  bottom: -4%;
  -webkit-transform: translate(-2%, -4%);
  -ms-transform: translate(-2%, -4%);
  -o-transform: translate(-2%, -4%);
  transform: translate(-2%, -4%);
  background: #fff;
  color: #dfc691;
  font-family: 'Alegreya', serif;
  text-transform: uppercase;
}


.recipe-link:hover {
  color: #fff;
  background:  #dfc691;
}

/*footer styling*/

footer {
  background: url('../images/bg.jpg');
  padding-bottom: 50px;
}

footer .foot-left{
 display: inline-block;
 vertical-align: top;
}

footer .foot-right { float: right; }

footer .foot-logo {
 display: inline-block;
 vertical-align: top;
}

footer li a {
  font-family: 'Alegreya', serif;
  color: #56534c;
  font-size: 12px;
  font-weight: bold;
 margin-right: 15px;
 letter-spacing: 2px;
 text-transform: uppercase;
}


footer li:not(:last-child):after {
  content: "~";
  padding-right: 15px;
  color: #56534c;
  font-weight: bold;
}


footer li a:hover { color: #130807; }


footer li:last-child a {margin-right: 0;}

footer ul {
 padding: 15px 40px;
 border-top: 1px solid #c8c6be;
 border-bottom: 1px solid #c8c6be;
}

.foot-logo {
  margin-left:5%;
}

.foot-logo a{
 margin-left: 40%;
 color: #8f8d85;
 font-size: 30px;
 font-family: Scriptina;
 font-weight: 400;
 line-height: 24px;
 text-align: left;
 letter-spacing: 1px;
}
